body{
     margin: 0px;
     padding: 0px;
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(248, 248, 192);
}
header{
     background-color: #9a5000;
     padding: 5px 10px;
}
header ul{
     list-style: none;
     height: 40px;
     display: flex;
     justify-content: right ;
     gap: 30px;
     margin: 0;
     padding: 0;
}
header a{
     padding: 10px;
     text-decoration: none;
     color: black;
     font-weight: bold;
     font-size: 18px;
     transition: color 0.3s ease;
}
header a:hover{
     color: #e9ac1e;
}
main{
     text-align: center;
     padding: 40px 20px;
     background-color: #ecac6c;
}
main h1{
     font-size: 36px;
     color: #9a5000;
     margin-bottom: 3px;
     font-family: 'poppins',sans-serif;
}
main button{
     margin-top: 30px;
     background-color: #9a5000;
     color: white;
     border: none;
     padding: 12px 25px;
     font-size: 16px;
     border-radius: 8px;
     cursor: pointer;
     transition: background-color 0.3s ease-in;
}
main button:hover{
     background-color: #c27818;
}
main p{
     max-width: 700px;
     margin: 0 auto;
     font-size: 18px;
     line-height: 1.6;
     color: rgb(118, 69, 0);
}
footer{ 
     background-color: #ab6316;
     text-align: center;
     padding: 30px 0 10px;
     margin-top: 50px;
     border-top: 2px solid beige;
}
.social-links {
     display: flex;
     justify-content: center;
     gap: 25px;
     margin-bottom: 15px;
}
.social-links img {
     width: 40px;
     height: 40px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     border-radius: 50%;
}
.social-links img:hover{
     transform: scale(1.2);
     box-shadow: 0 0 10px rgb(0, 0, 0);
}
.footer-text{
    color: #392e2e;
    font-size: 14px;
    font-weight: arial , sans-serif;
}